<div class="jumbotron">
   <h1 class="title">全英汇</h1>
   <p class="slogan">找工作，聘英才，尽在全英汇！
     <br>
     全·聚天下才，英·领新时代，汇·筑大舞台！招聘信息全方位，就业服务一网通。
     <br>
     汇聚英才，“职”引未来！携手全英汇，有为更有位。招聘全方位，服务零距离。
   </p>
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">招兵买马</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <iframe width="460" height="280" src="https://www.youtube.com/embed/oQ7VEWeYuRA" frameborder="0" allowfullscreen></iframe>
          <div class="caption">
            <h3>合作名企的招聘宣传片</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <iframe width="460" height="280" src="https://www.youtube.com/embed/LCPeXRnay3I" frameborder="0" allowfullscreen></iframe>
          <div class="caption">
            <h3>往年招聘会现场</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <iframe width="460" height="280" src="https://www.youtube.com/embed/c_uOkQkYBU0" frameborder="0" allowfullscreen></iframe>
          <div class="caption">
            <h3>面试技巧</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1ff3yfgqsfjj30jz0dcabf.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h2>总部地址</h2>
            <h3>广西南宁航洋国际</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1ff3xwcv0zcj30sg0jqwfi.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h2>邮箱地址</h2>
            <h3>panyujinyx@gmail.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1ff3xjjqkv9j30rs0ij40m.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h2>客服电话</h2>
            <h3>0771-1234567</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
